* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Roboto', sans-serif;
  // background-color: #1b1b1b;

  text-align: center;
}
body {
  margin: 0 auto;
}
ul {
  list-style: none;
}

header {
  padding: 50px 20px 10px;
  font-family: 'Fredoka One', cursive;

  h1 {
    font-family: 'Fredoka One', cursive;
    font-size: 25px;
    font-weight: 400;
    color: #2f52a2;

    span {
      color: #ff0000;
      font-family: 'Fredoka One', cursive;
    }
  }
}
.text-input {
  // max-width: 990px;
  // width: 100%;
  display: flex;
  justify-content: center;
  // background-color: red;
  padding: 2rem;

  input {
    width: 90%;
    height: 35px;
    border-radius: 5px;
    border: 1px solid #cacaca;
    outline: none;
    padding: 10px;
    text-align: start;
  }
}

.list-anime {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 15px;
  margin: 0 1.5rem;
  img {
    width: 100%;
    border-radius: 5px;
  }
}

.donut {
  width: 2rem;
  height: 2rem;
  margin: 2rem;
  border-radius: 50%;
  border: 0.3rem solid rgba(#ff0000, 0.3);
  border-top-color: #2f52a2;
  animation: 1.5s spin infinite linear;
}
